{% load static %}
{% load staticfiles %}

<link type="text/css" rel="stylesheet" href="{% static 'css/material-icons.css' %}"/>
<link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"/>

<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/common.js' %}"></script>

<head>
    <title>Bailiwick</title>
    <link rel="shortcut icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="shortcut icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
</head>

<body>

{% include 'navbar.html' %}

{% block content %}
{% endblock %}
</body>
