{% extends "model_list.html" %}

{% block title %}A Records{% endblock %}

{% block create-view %}{% url "a-record-create" %}{% endblock %}
{% block detail-view %}{% url "a-record-detail" obj.id %}{% endblock %}
{% block update-view %}{% url "a-record-update" obj.id %}{% endblock %}
{% block delete-view %}{% url "a-record-delete" obj.id %}{% endblock %}

{% block table_header_cols %}
<th>Hostname</th>
<th>Address</th>
<th>Domain</th>
{% endblock %}

{% block table_body_cols %}
<td>{{ obj.hostname }}</td>
<td>{{ obj.address }}</td>
<td>{{ obj.domain.name }}</td>
{% endblock %}
