{% extends 'base.html' %}

{% block content %}
<h2>Registries</h2>

{% if object_list %}
<div class="container">
    <a href="{% url 'registry-create' %}" class="btn-small btn-floating green" title="Create"><i class="material-icons">add</i></a>
    <table style="width:100%" class="striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for registry in object_list %}
            <tr>
                <td style="width: 100%;">{{ registry.name }}</td>
                <td style="white-space: nowrap;">
                    <a href="{% url 'registry-detail' registry.id %}" class="btn-small btn-floating" title="View"><i class="material-icons">info_outline</i></a>
                    <a href="{% url 'registry-update' registry.id %}" class="btn-small btn-floating blue" title="Edit"><i class="material-icons">edit</i></a>
                    <a href="{% url 'registry-delete' registry.id %}" class="btn-small btn-floating red" title="Delete"><i class="material-icons">delete</i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'pagination.html' %}
</div>
{% else %}
No registries.
{% endif %}
{% endblock %}
