{% extends 'base.html' %}

{% block content %}
<h2 class="center">Domains</h2>

{% if object_list %}
<div class="container">
    <a href="{% url 'domain-create' %}" class="btn-small btn-floating green" title="Create"><i class="material-icons">add</i></a>
    <table style="width:100%" class="striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Registry</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in object_list %}
        <tr>
            <td>{{ obj.name }}</td>
            <td style="width: 100%;">{{ obj.registry.name }}</td>
            <td style="white-space: nowrap;">
                <a href="{% url 'domain-detail' obj.id %}" class="btn-small btn-floating" title="View"><i class="material-icons">info_outline</i></a>
                <a href="{% url 'domain-update' obj.id %}" class="btn-small btn-floating blue" title="Edit"><i class="material-icons">edit</i></a>
                <a href="{% url 'domain-delete' obj.id %}" class="btn-small btn-floating red" title="Delete"><i class="material-icons">delete</i></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    {% include 'pagination.html' %}
</div>
{% else %}
No domains.
{% endif %}
{% endblock %}
