{% extends "model_list.html" %}

{% block title %}Domains{% endblock %}

{% block create-view %}{% url "domain-create" %}{% endblock %}
{% block detail-view %}{% url "domain-detail" obj.id %}{% endblock %}
{% block update-view %}{% url "domain-update" obj.id %}{% endblock %}
{% block delete-view %}{% url "domain-delete" obj.id %}{% endblock %}

{% block table_header_cols %}
<th>Name</th>
<th>Registry</th>
{% endblock %}

{% block table_body_cols %}
<td>{{ obj.name }}</td>
<td>{{ obj.registry.name }}</td>
{% endblock %}
